@model int
@{ 
    ViewBag.title = "404 Error";
}
    <div class="alert alert-danger mt-1 mb-1">
        <h4>Studnet with id=@Model cannot be found</h4>
    </div>
    <a asp-controller="home" asp-action="index" class="btn btn-outline-secondary" style="width:auto">View All Students</a>
