
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
@*<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h5>Message</h5>
    <p>@ViewBag.Message</p>
</div>
<div class="alert alert-danger">
    <h5>Stack Trace</h5>
    <p>@ViewBag.StackTrace</p>
</div>*@

